{% extends 'layout.html.twig' %}

{#{% block stylesheet %}<link rel="stylesheet" href="/assets/css/styleRoom.css">{% endblock %}#}

{% block content %}

    <img class="bg-img" src="/assets/images/scene-crime2.jpg" alt="">
    <div class="container">
        {% for movieOne in movies %}
            <h1>Quel élément appartient au film {{ movieOne.title }} ?</h1>
        {% endfor %}

        <input type="image" class="blair" id="75" alt="bouton recherche de film" src="/assets/images/blair_witch.png">
        <input type="image" class="scream" id="33" alt="bouton recherche de film" src="/assets/images/scream.png">
        <input type="image" class="paranormal" id="6" alt="bouton recherche de film" src="/assets/images/paranormal.png">
        <input type="image" class="destination" id="7" alt="bouton recherche de film" src="/assets/images/destination-finale.png">
        <input type="image" id="37" alt="bouton recherche de film" src="/assets/images/moon.png">
        <input type="image" id="43" alt="bouton recherche de film" src="/assets/images/exocist.png">
        <input type="image" id="17" alt="bouton recherche de film" src="/assets/images/saw.png">


    </div>
{% endblock %}
