{% extends 'layout.html.twig' %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/style_lose.css">{% endblock %}

{% block content %}
<section class="lose">
    <video autoplay muted loop id="myVideo">
        <source src="/assets/images/graveyard.mp4" type="video/mp4">
    </video>

    <div class="retry">
        <h1>You Lose</h1>
        {% if score is not null %}
            <h2>Score : {{ score }}</h2>
            <a href="createlistquestion" class="btn btn-danger">Try Again ?</a>
        {% else %}
            <a href="../room/showmovie" class="btn btn-danger">Try Again ?</a>
        {% endif %}
    </div>
</section>
{% endblock %}