{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link href="https://fonts.googleapis.com/css?family=Yeon+Sung&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/winner.css">{% endblock %}

{% block content %}
    <section class="win">
        <video autoplay muted loop id="myVideo">
            <source src="/assets/images/success.mp4" type="video/mp4">
        </video>

        <div class="retry">
            <h1>Vous avez gagné !!</h1>
            <h2>Libérééééé ! Délivréééé !<br>(mais intérieurement décédééé)</h2>
            <a class="btn btn-success" href="/Home/index" role="button">Retourner à l'accueil</a>
        </div>
    </section>
{% endblock %}