{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/winner.css">{% endblock %}

{% block content %}
    <section class="win">
        <video autoplay muted loop id="myVideo">
            <source src="/assets/images/success.mp4" type="video/mp4">
        </video>

        <div class="retry">
            <h1>You Win !!</h1>
            <h2>Let it gooo ! Let it goooo !</h2>
        </div>
    </section>
{% endblock %}