{% extends 'layout.html.twig' %}

{% block title %}You Win !!!!!{% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/winner.css">{% endblock %}

{% block content %}


    <div class="perspective" onclick="openDoor(this)">
        <div class="door">
        </div>
    </div>

{% endblock %}

