{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Items</h1>

    <ul>
        {% for item in items %}
            <li>{{ item.id }}. {{ item.title }}</li>
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>
{% endblock %}