{% extends 'layout.html.twig' %}

{% block content %}
    {{ foo }}
    <ul>

    {% for item in items %}
        <li>{{ item.id }}. {{ item.title }}</li>
    {% else %}
        <li>Nothing to display</li>
    {% endfor %}
    </ul>
{% endblock %}