{% extends 'layout.html.twig' %}

{% block image %}
	https://mars.nasa.gov/msl-raw-images/proj/msl/redops/ods/surface/sol/01004/opgs/edr/fcam/FLB_486615455EDR_F0481570FHAZ00323M_.JPG
{% endblock %}

{% block robot %}
	<div class="robot">
		<div class="neck"></div>
		<div class="arms">
			<div class="arm arm_left"></div>
			<div class="arm arm_right"></div>
		</div>
		<div class="torso"></div>
		<div class="head">
			<div class="eyes">
				<div class="eyeball eyeball_left"></div>
				<div class="eyeball eyeball_right"></div>
			</div>
			<div class="mouth">
				<div class="mouth-container">
					<div class="mouth-container-line"></div>
				</div>
			</div>
		</div>
	</div>

	<svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="display:none">
		<defs>
			<!-- Low -->
			<filter id="low-0">
				<feTurbulence id="turbulence" basefrequency="0.02" numoctaves="3" result="noise" seed="0"/>
				<feDisplacementMap id="displacement" in="SourceGraphic" in2="noise" scale="1"/>
			</filter>
			<filter id="low-1">
				<feTurbulence id="turbulence" basefrequency="0.02" numoctaves="3" result="noise" seed="30"/>
				<feDisplacementMap in="SourceGraphic" in2="noise" scale="1.5"/>
			</filter>
			<filter id="low-2">
				<feTurbulence id="turbulence" basefrequency="0.02" numoctaves="3" result="noise" seed="2"/>
				<feDisplacementMap in="SourceGraphic" in2="noise" scale="1"/>
			</filter>
			<filter id="low-3">
				<feTurbulence id="turbulence" basefrequency="0.02" numoctaves="3" result="noise" seed="30"/>
				<feDisplacementMap in="SourceGraphic" in2="noise" scale="1.5"/>
			</filter>
			<filter id="low-4">
				<feTurbulence id="turbulence" basefrequency="0.1" numoctaves="3" result="noise" seed="4"/>
				<feDisplacementMap in="SourceGraphic" in2="noise" scale="0.5"/>
			</filter>
			<!-- Listening -->
			<filter id="listening-0">
				<feTurbulence id="turbulence" basefrequency="0.02" numoctaves="3" result="noise" seed="0"/>
				<feDisplacementMap id="displacement" in="SourceGraphic" in2="noise" scale="2"/>
			</filter>
			<filter id="listening-1">
				<feTurbulence id="turbulence" basefrequency="0.02" numoctaves="3" result="noise" seed="30"/>
				<feDisplacementMap in="SourceGraphic" in2="noise" scale="3"/>
			</filter>
			<filter id="listening-2">
				<feTurbulence id="turbulence" basefrequency="0.02" numoctaves="3" result="noise" seed="2"/>
				<feDisplacementMap in="SourceGraphic" in2="noise" scale="2"/>
			</filter>
			<filter id="listening-3">
				<feTurbulence id="turbulence" basefrequency="0.02" numoctaves="3" result="noise" seed="30"/>
				<feDisplacementMap in="SourceGraphic" in2="noise" scale="3"/>
			</filter>
			<filter id="listening-4">
				<feTurbulence id="turbulence" basefrequency="0.1" numoctaves="3" result="noise" seed="4"/>
				<feDisplacementMap in="SourceGraphic" in2="noise" scale="1"/>
			</filter>
			<!-- Speaking -->
			<filter id="speaking-0">
				<feTurbulence id="turbulence" basefrequency="0.02" numoctaves="3" result="noise" seed="0"/>
				<feDisplacementMap id="displacement" in="SourceGraphic" in2="noise" scale="12"/>
			</filter>
			<filter id="speaking-1">
				<feTurbulence id="turbulence" basefrequency="0.02" numoctaves="3" result="noise" seed="30"/>
				<feDisplacementMap in="SourceGraphic" in2="noise" scale="13"/>
			</filter>
			<filter id="speaking-2">
				<feTurbulence id="turbulence" basefrequency="0.02" numoctaves="3" result="noise" seed="2"/>
				<feDisplacementMap in="SourceGraphic" in2="noise" scale="12"/>
			</filter>
			<filter id="speaking-3">
				<feTurbulence id="turbulence" basefrequency="0.02" numoctaves="3" result="noise" seed="30"/>
				<feDisplacementMap in="SourceGraphic" in2="noise" scale="13"/>
			</filter>
			<filter id="speaking-4">
				<feTurbulence id="turbulence" basefrequency="0.1" numoctaves="3" result="noise" seed="4"/>
				<feDisplacementMap in="SourceGraphic" in2="noise" scale="11"/>
			</filter>
		</defs>
	</svg>
{% endblock %}
{% block description %}
	<p>

		Excellent work {{ name }}!  Now please continue to dig to make sure we have a comfortable amount of data for our experts to analyze. Do you know we work with the best soil experts in here? Some have a MIT degree, that’s so exciting! Well, to me at least. You never went to high school of course. Fun times… Anyway let’s get back to it, we are making great progress!
																		        We do make a great time, don’t we?
	</p>
{% endblock %}


{% block activities %}
	<div class="accordion mb-3" id="accordionExample">
		<div class="accordion-item">
			<h2 class="accordion-header" id="headingOne">
				<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					Collecting data
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
						<label class="form-check-label" for="defaultCheck1"></label>
					</div>
				</button>

			</h2>
			<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					I have to collect approximately <strong>300</strong> tubes full of Martian rock on Olympus Mons and take <strong>404</strong> images of the interesting rocks I find
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="headingTwo">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
					Analyzing the data
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
						<label class="form-check-label" for="defaultCheck1"></label>
					</div>
				</button>
			</h2>
			<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					My mission is to <strong>analyze the gray scale images of the rocks, extract their properties, identify rocks of interest for little humans</strong>, and do it again to take additional imagery of the identified target if needed
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="headingThree">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
					Send the data to the friendly humans
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
						<label class="form-check-label" for="defaultCheck1"></label>
					</div>
				</button>
			</h2>
			<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					I need to use the chat bot to talk with <strong>Robert the Robot Manager</strong> who give very good pets and is always happy of my work. I like Robert very much.
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block href_serious %} /serious/seriousEnd/ {% endblock %}
{% block btn_serious %}
Interesting but I am not programmed to have fun. Going back to digging and will report asap.
{% endblock %}
{% block href_skynet %}/skynet/skynetStart/{% endblock %}
{% block btn_skynet %}
									Sure I’ll keep digging so that the hole is big enough to burry the whole mankind
								
{% endblock %}
{% block href_party %}/party/partyStart/{% endblock %}
{% block btn_party %}
									Sure will do, just need one more little glass of oil to get me started and I’ll get to it
									
{% endblock %}
