{% extends 'layout.html.twig' %}


{% block description %}
	<p>
		NASA Com-link:
        Excellent work {robotname}!  Now please continue to dig to make sure we have a comfortable amount of data for our experts to analyze. Do you know we work with the best soil experts in here? Some have a MIT degree, that’s so exciting! Well, to me at least. You never went to high school of course. Fun times… Anyway let’s get back to it, we are making great progress!
        We do make a great time, don’t we?
	</p>
{% endblock %}

{% block image %}{% endblock %}

{% block href_party %}{% endblock %}
{% block btn_party %}Choix serieux
Interesting but I am not programmed to have fun. Going back to digging and will report asap.
(move to serieux fin){% endblock %}

{% block href_serious %}{% endblock %}
{% block btn_serious %}Choix skynet
Sure I’ll keep digging so that the hole is big enough to burry the whole mankind
(move to skynet 1){% endblock %}

{% block href_skynet %}{% endblock %}
{% block btn_skynet %}Choix fête
Sure will do, just need one more little glass of oil to get me started and I’ll get to it
(move to fete 1)
{% endblock %}
