{% extends 'layout-end.html.twig' %}

{% block image %}
	https://mars.nasa.gov/msl-raw-images/proj/msl/redops/ods/surface/sol/01004/opgs/edr/fcam/FLB_486615455EDR_F0481570FHAZ00323M_.JPG
{% endblock %}

{% block robot %}
	<div class="robot">
		<div class="neck"></div>
		<div class="arms">
			<div class="arm arm_left"></div>
			<div class="arm arm_right"></div>
		</div>
		<div class="torso"></div>
		<div class="head">
			<div class="eyes">
				<div class="eyeball eyeball_left"></div>
				<div class="eyeball eyeball_right"></div>
			</div>
			<div class="mouth">
				<div class="mouth-container">
					<div class="mouth-container-line"></div>
				</div>
			</div>
		</div>
	</div>

	<svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="display:none">
		<defs>
			<!-- Low -->
			<filter id="low-0">
				<feTurbulence id="turbulence" basefrequency="0.02" numoctaves="3" result="noise" seed="0"/>
				<feDisplacementMap id="displacement" in="SourceGraphic" in2="noise" scale="1"/>
			</filter>
			<filter id="low-1">
				<feTurbulence id="turbulence" basefrequency="0.02" numoctaves="3" result="noise" seed="30"/>
				<feDisplacementMap in="SourceGraphic" in2="noise" scale="1.5"/>
			</filter>
			<filter id="low-2">
				<feTurbulence id="turbulence" basefrequency="0.02" numoctaves="3" result="noise" seed="2"/>
				<feDisplacementMap in="SourceGraphic" in2="noise" scale="1"/>
			</filter>
			<filter id="low-3">
				<feTurbulence id="turbulence" basefrequency="0.02" numoctaves="3" result="noise" seed="30"/>
				<feDisplacementMap in="SourceGraphic" in2="noise" scale="1.5"/>
			</filter>
			<filter id="low-4">
				<feTurbulence id="turbulence" basefrequency="0.1" numoctaves="3" result="noise" seed="4"/>
				<feDisplacementMap in="SourceGraphic" in2="noise" scale="0.5"/>
			</filter>
			<!-- Listening -->
			<filter id="listening-0">
				<feTurbulence id="turbulence" basefrequency="0.02" numoctaves="3" result="noise" seed="0"/>
				<feDisplacementMap id="displacement" in="SourceGraphic" in2="noise" scale="2"/>
			</filter>
			<filter id="listening-1">
				<feTurbulence id="turbulence" basefrequency="0.02" numoctaves="3" result="noise" seed="30"/>
				<feDisplacementMap in="SourceGraphic" in2="noise" scale="3"/>
			</filter>
			<filter id="listening-2">
				<feTurbulence id="turbulence" basefrequency="0.02" numoctaves="3" result="noise" seed="2"/>
				<feDisplacementMap in="SourceGraphic" in2="noise" scale="2"/>
			</filter>
			<filter id="listening-3">
				<feTurbulence id="turbulence" basefrequency="0.02" numoctaves="3" result="noise" seed="30"/>
				<feDisplacementMap in="SourceGraphic" in2="noise" scale="3"/>
			</filter>
			<filter id="listening-4">
				<feTurbulence id="turbulence" basefrequency="0.1" numoctaves="3" result="noise" seed="4"/>
				<feDisplacementMap in="SourceGraphic" in2="noise" scale="1"/>
			</filter>
			<!-- Speaking -->
			<filter id="speaking-0">
				<feTurbulence id="turbulence" basefrequency="0.02" numoctaves="3" result="noise" seed="0"/>
				<feDisplacementMap id="displacement" in="SourceGraphic" in2="noise" scale="12"/>
			</filter>
			<filter id="speaking-1">
				<feTurbulence id="turbulence" basefrequency="0.02" numoctaves="3" result="noise" seed="30"/>
				<feDisplacementMap in="SourceGraphic" in2="noise" scale="13"/>
			</filter>
			<filter id="speaking-2">
				<feTurbulence id="turbulence" basefrequency="0.02" numoctaves="3" result="noise" seed="2"/>
				<feDisplacementMap in="SourceGraphic" in2="noise" scale="12"/>
			</filter>
			<filter id="speaking-3">
				<feTurbulence id="turbulence" basefrequency="0.02" numoctaves="3" result="noise" seed="30"/>
				<feDisplacementMap in="SourceGraphic" in2="noise" scale="13"/>
			</filter>
			<filter id="speaking-4">
				<feTurbulence id="turbulence" basefrequency="0.1" numoctaves="3" result="noise" seed="4"/>
				<feDisplacementMap in="SourceGraphic" in2="noise" scale="11"/>
			</filter>
		</defs>
	</svg>
{% endblock %}

{% block description %}
	<p>

		<span class='text-danger'>NASA Com-link:
		</span>
        It’s been a very busy day for {robotname} but {he}/{she} seems to have enjoyed it. Some robots are just satisfied with doing basic tasks for all their day and get their happiness from receiving new user instructions. {robotname} can enjoy a nice rest and dream about future instructions and tasks he will receive for tomorrow.
	</p>
{% endblock %}


{% block activities %}
	
{% endblock %}



