{% extends 'layout.html.twig' %}

{% block description %}
<p>
It’s been a very busy day for {robotname} but {he}/{she} seems to have enjoyed it. Some robots are just satisfied with doing basic tasks for all their day and get their happiness from receiving new user instructions. {robotname} can enjoy a nice rest and dream about future instructions and tasks he will receive for tomorrow.
</p>
{% endblock %}


