{% extends 'layout.html.twig' %}

{% block content %}
    <ul>
            {% for movie in quizz %}
                <li>{{ movie.title }}</li>
                <img src="{{ movie.posterUrl }}" class="poster">
            {% endfor %}
    </ul>
{% endblock %}
