{% extends 'layout.html.twig' %}

{% block title %}Gare au loup{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/home.css">
{% endblock %}

{% block content %}
    <h1 class="title-home">Do you want to enter</h1>
    <section class="home-page">

    <div class="perspective-home" onclick="opendoorHome(this)">
        <div class="part-thumb">
            <div class="thumb-home">

            </div>
        </div>
    </div></a>
    </section>
{% endblock %}
