
{% extends 'layout-accueil.html.twig' %}


{% block btn_party %}

<br><iframe autoplay loop muted width="800" height="600" src="https://www.youtube.com/embed/rzmd7RouGrM?controls=0&amp;start=120&end=145" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



<div class='row'><br>
				{% if name == 'Percy' %}
					<div id="robot-image" class='mb-3 mt-5'>
						<p class='text-warning'>
							Percy
						</p>
						<img src="/assets/images/percy.png" alt="" width="550" height="300">
					</div>
				{% elseif name == 'Ginny' %}
					<div id="robot-image" class='mb-3 mt-5'>
						<p class='text-warning'>
							Ginny
						</p>
						<img src="/assets/images/ginny.png" alt="" width="100" height="125">
					</div>
				{% endif %}
			</div>

<form method="post" action="">
  <div class="mb-3 form-check">
		<img src="/assets/images/ginny.png" alt="" width="100" height="125"></div>
    <input type="radio" class="form-check-input" id="Ginny" name="name" value="Ginny">
    <label class="form-check-label text-warning" for="exampleCheck1">Ginny</label>
  <div class="mb-3 form-check">
    <br><img src="/assets/images/percy.png" alt="" width="100" height="125"></div>
    <input type="radio" class="form-check-input" id="Percy" name='name' value="Percy">
    <label class="form-check-label text-warning" for="exampleCheck1">Percy</label><br><br>
    <button type="submit" class="btn btn-warning" value="submit">Submit</button>
  </div>
</form>

{% endblock %}