<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="/assets/css/style.css">
    {% block stylesheet %}{% endblock %}
    <link rel="icon" href="/assets/images/favicon.png">
</head>

<body>

{% block content %}{% endblock %}
{% block javascript %}{% endblock %}
</body>
</html>


