#bg-layout {
  /* background-size: 100em; */
  background-repeat: no-repeat;
  background-size: cover;
}

html,
body {
  text-align: center;
}

body,
footer,
header {
  font-family: "Trispace", sans-serif;
}

header,
footer {
  overflow: hidden;
  height: 50px;
}

footer {
  bottom: 0;
  width: 100%;
}

/* @media (max-width: 890px) {
  body.url {
    background-size: 50%;
  }
} */
