:root {
    --font-title: 'Nosifer', cursive;
    --font-color: crimson;
}


.bg-img {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;

}

.container{
    position: relative;
}



.position{
    position: relative;
    height: 70px;
}


.blair{
    top: 250px;
    left: 50px;
}

.scream{
    top: 650px;
    left: 400px;
}

.paranormal{
    top: 20px;
    left: 20px;
}

.destination{
    top: 200px;
    left: 300px;
}

.moon{
    top: 150px;
    left: 650px;
}

.exocist{
    top: 400px;
    left: 900px;
}

.saw{
    top: 400px;
    left: 1px;
}


h1 {
    font-family: var(--font-title);
    color: var(--font-color);
    text-align: center;
}
