#bg-layout {
  /* background-size: 100em; */
  background-repeat: no-repeat;
  background-size: cover;
}

html,
body {
  text-align: center;
}

body,
footer,
header {
  font-family: "Trispace", sans-serif;
}

header,
footer {
  overflow: hidden;
  height: 50px;
}

footer {
  bottom: 0;
  width: 100%;
}

#description {
  background-color: black;
  background-image: radial-gradient(
    rgba(0, 150, 0, 0.75), black 120%
  );
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 2rem;
  color: white;
  font: 1.3rem Inconsolata, monospace;
  text-shadow: 0 0 5px #C8C8C8;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: repeating-linear-gradient(
      0deg,
      rgba(black, 0.15),
      rgba(black, 0.15) 1px,
      transparent 1px,
      transparent 2px
    );
    pointer-events: none;
  }
}

/* @media (max-width: 890px) {
  body.url {
    background-size: 50%;
  }
} */
